<div class="container">
  <h1>Login</h1>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>
