<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <span>
    <button mat-button routerLink="/"></button>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon>Home</button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <span *ngIf="isAdmin()">
      <button mat-button routerLink="/admin">
        <mat-icon>person</mat-icon>
        Admin Dashboard
      </button>
    </span>

    <span *ngIf="isAdmin()">
      <button mat-button routerLink="/admin/create">
        <mat-icon>person</mat-icon>
        Create
      </button>
    </span>

    <span *ngIf="!isLoggedIn()">
      <button mat-button routerLink="/login">
        <mat-icon>power_settings_new</mat-icon>
        Login
      </button>
    </span>
    <span *ngIf="!isLoggedIn()">
      <button mat-button routerLink="/signup">
        <mat-icon>power_settings_new</mat-icon>
        Signup
      </button>
    </span>

    <span *ngIf="isLoggedIn()">
      <button (click)="logout()" mat-button>
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </span>
  </div>
</mat-toolbar>
<!-- <mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-menu-item routerLink="/game">
    <mat-icon>gamepad</mat-icon>
    Play
  </button>
  <button mat-menu-item routerLink="/login">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet> </router-outlet>
